.container {
  max-width: 600px;
  color: rgb(36, 78, 112);
  background: radial-gradient(
    328px at 2.9% 15%,
    rgb(191, 224, 251) 0%,
    rgb(232, 233, 251) 25.8%,
    rgb(252, 239, 250) 50.8%,
    rgb(234, 251, 251) 77.6%,
    rgb(240, 251, 244) 100.7%
  );
  font-family: "Alexandria", sans-serif;
  padding: 30px 35px;
  margin: 30px auto 20px;
  border-radius: 8px;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
}

h1 {
  text-align: center;
  font-size: 33px;
  margin-top: 0;
}

h1 a {
  color: rgb(36, 78, 112);
  text-decoration: none;
}

select {
  display: block;
  width: 100%;
  color: rgb(165, 97, 155);
  font-size: 14px;
  font-family: "Alexandria", sans-serif;
  padding: 7px;
  border-color: rgb(165, 97, 155);
  border-radius: 4px;
}

.city {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
  padding: 15px 0;
  margin: 10px 0 0;
}

.city:last-child {
  border: none;
}

h2 {
  font-size: 24px;
  margin: 0 0 1px;
}

.date {
  font-size: 14px;
}

.time {
  display: block;
  font-size: 32px;
  font-weight: bold;
}

.time small {
  font-size: 15px;
  vertical-align: middle;
}

.return-link {
  display: block;
  color: rgb(165, 97, 155);
  text-align: right;
  margin-top: 10px;
}

footer {
  text-align: center;
  font-size: 13px;
  font-family: "Alexandria", sans-serif;
  margin: 0 0 30px;
}

footer a {
  color: rgb(165, 97, 155);
}
